app/code/local/Lyonscg/Sales/etc/wsdl.xml

<?xml version="1.0" encoding="UTF-8"?>
<!--
/**
 * Add custom fields to API calls
 *
 * @category    Lyonscg
 * @package     Lyonscg_Sales
 * @author      Nick Hughart (nhughart@lyonscg.com)
 * @author      Logan Montgomery (lmontgomery@lyonscg.com)
 * @copyright   Copyright (c) 2014 Lyons Consulting Group (www.lyonscg.com)
 */
-->
<definitions xmlns:typens="urn:{{var wsdl.name}}" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
        xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns="http://schemas.xmlsoap.org/wsdl/"
        name="{{var wsdl.name}}" targetNamespace="urn:{{var wsdl.name}}">
    <types>
        <schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:Magento">
            <import namespace="http://schemas.xmlsoap.org/soap/encoding/" schemaLocation="http://schemas.xmlsoap.org/soap/encoding/" />
            <complexType name="salesOrderItemEntity">
                <all>
                    <element name="item_fulfils_subscription" type="xsd:string" minOccurs="0" />
                    <element name="delivery_interval" type="xsd:string" minOccurs="0" />
                    <element name="hotdeal" type="xsd:string" minOccurs="0" />
                    <element name="subscription_id" type="xsd:string" minOccurs="0" />
                    <element name="affiliate_id" type="xsd:string" minOccurs="0" />
                    <element name="offer_id" type="xsd:string" minOccurs="0" />
                    <element name="transaction_id" type="xsd:string" minOccurs="0" />
                    <element name="subscription_interval" type="xsd:string" minOccurs="0" />
                </all>
            </complexType>
        </schema>
    </types>
</definitions>